@font-face {
    font-family: "Card";
    src: url("../font/ttf/Vazirmatn-Bold.ttf")format("truetype");
}
@font-face {
    font-family: "card2";
    src: url("../font/ttf/Mellat-Regular.ttf") format("truetype");
}
::selection{
    background-color: red;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(to right , rgba(24, 0, 244, 0.732) , rgba(255, 0, 115, 0.786));
    font-family: "Card";
    color: white;
}
img{
    width: 70px;
    height: 70px;
}
.imgme{
    width: 40px;
    height: 40px;
}
.check{
    position: absolute;
    right: 10px;
    top: 35px;
}
.card{
    width: 550px;
    height: 300px;
    background-color: rgb(18, 32, 184);
    box-shadow: 5px 5px 12px rgba(255,255 ,255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.463);
    border-radius: 10px;
    margin: 0 auto;
    padding: 6px 20px;
    position: relative;
}
.h{
    text-align: end;
}
.head{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.number{
    letter-spacing: 5px;
    font-size: 30px;
    font-family: "card2";
    text-align: center;
    margin-top: 14%;
}
span{
    margin-left: 10px;
}
.date{
    text-align: end;
    margin-top: 7px;
}
.circle{
width: 20px;
height: 20px;
background-color: red;
border-radius: 100%;
position: absolute;
right: 15px;
}
.circle2{
width: 20px;
height: 20px;
background-color: rgb(0, 55, 255);
border-radius: 100%;
position: absolute;  
right: 30px;  
}
.card2{
    width: 550px;
    height: 300px;
    background-color: rgb(23 0 106);
    box-shadow: 5px 5px 12px rgba(255,255 ,255, 0.15);
    border-radius: 13px;
    margin: 15% auto;
    padding-top: 40px;
    position: absolute;
    bottom: -26px;
    right: 70px;
    z-index: -2;
}
.line{
    width: 100%;
    height: 80px;
    background-color:black;
}
.line2{
    width: 85%;
    height: 30px;
    background-color:rgb(205, 205, 205);
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.color{
    width: 100%;
    height: 183px;
    margin-top: 45px;
    text-align: right;
    direction: rtl;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.five{
width: 30px;
height: 50px;
background-color: rgb(255, 3, 45);
border-radius: 100%;
}
.two{
width: 30px;
height: 50px;
background-color: rgb(9, 186, 21);
border-radius: 100%;
}
.three{
width: 30px;
height: 50px;
background-color: rgb(251, 255, 0);
border-radius: 100%;
}
.four{
width: 30px;
height: 50px;
background-color: rgb(0, 0, 0);
border-radius: 100%;
}
.one{
width: 30px;
height: 50px;
background-color: rgb(18, 32, 184);
border-radius: 100%;
}